* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  background-color: #ff4242;
  padding: 1rem 3rem;
  justify-content: space-between;
}

.nav h1 {
  font-size: 22px;
  color: honeydew;
  text-align: center;
}

.stopwatch {
  background-color: lightblue;
  min-height: calc(100vh - 69px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.stopwatch .container {
  background-color: lightcyan;
  padding: 2rem;
  border-radius: 1rem;
}

.stopwatch .container .display {
  font-size: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.stopwatch .container .controls {
  display: flex;
  justify-content: space-evenly;
}

.stopwatch .container .controls button {
  padding: 1rem;
  font-size: 20px;
  cursor: pointer;
}

.stopwatch .btn {
  border: none;
  outline: none;
  border-radius: 1rem;
  margin: auto;
  margin: 25px;
  width: 100px;
}

.stopwatch .start {
  background-color: #6dfd91;
}

.stopwatch .stop {
  background-color: #ff4242;
  color: honeydew;
}

.stopwatch .reset {
  background-color: orange;
}

.stopwatch .start:hover {
  background-color: #2ff05f;
}

.stopwatch .stop:hover {
  background-color: #f71616;
  color: honeydew;
}

.stopwatch .reset:hover {
  background-color: #f38900;
}